*{
    list-style: none;
    text-decoration: none;
}


.box6{
    background-color: black;
    color: white;
    padding: 20px;
    cursor: pointer;

}
ul,li{
    color: gray;
    cursor: pointer;
    display: inline;
    text-align: center;
}
.box1{
    background-color: white;
}
.box2{
    color: black;
    margin: 10px;
    text-align: justify;
}

li:hover{
    color: white;
}
ul{
margin-right: 30px;
}
.box3{
color: black;
border-color: black;
border-width: 5px;
border-style: solid;
width: 220px ;
display: inline block;
padding-bottom: 5px;
}
.srch{
    padding: 20px;
}
.imgg{
        padding-bottom: 5px;
    }
    .btn1 a{
        color: black;
    }
    .btn2 a{
        color: black;
    }
    .btn1{
	display: inline-block;
	color: black;
	background: transparent;
	font-size: 15px;
	padding: 6px 8px;
	font-weight: 500;
	line-height: 24px;
	border-radius: 30px;
	transition: ease .40s;
}
.btn1:hover{
	transform: scale(1.1);
}
 .btn2{
	display: inline-block;
	color: black;
	background: transparent;
	font-size: 15px;
	padding: 6px 8px;
	font-weight: 500;
	line-height: 24px;
	border-radius: 30px;
	transition: ease .40s;
}
.btn2:hover{
	transform: scale(1.1);
}
    .container2{
         display: flex;
         justify-content: space-evenly;
         flex-direction: row;
         padding: 50px;
    }
.box3{
    color: black;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    width: 220px;
   
}
.imgg{
    color: black;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    width: 220px;
    
}

h2{
    color: black;
}
.box4{
    color: black;
}
.box5{
    background-color: black;
    color: white; 
    padding: 20px;
     
}
input{
    width: 60%;
}
.searchbar{
    padding: 50px;
}
@media(max-width:600px){
    .srch{
        height: 20px;
        width: 250px;
    }
    .box1 img{
        width: 250px;
        height: 250px;
    }
    p{
        text-align: justify;
    }
    .box3 img{
         width: 220px;
        height: 250px;
    }
    .box3 p{
        padding: 10px;
        margin: 0;
    }
    .imgg img{
         width: 220px;
        height: 250px;
    } 
    .para {
        padding: 10px;
        margin: 0;
    }
    .box3{
        padding-bottom: 5px;
    }
    .imgg{
        padding-bottom: 5px;
    }
    button{
        background-color: transparent;
        padding: 6px;
        border-radius: 8px;
       
    }
    button a{
         color: black;
    }
    .box3{
          margin:10px ;
    }
    .box5 p{
        text-align: center;
    }
    .box5{
        padding: 10px 0 10px 0;
    }
    .container2{
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}